<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Container - {{ .ContainerName }}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/scripts/containerScripts.js"></script>
</head>
<body>
<nav>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/pod/{{ .PodID }}">{{ .PodName }}</a></li>
        <li><a href="/container/{{ .ContainerID }}">{{ .ContainerName }}</a></li>
    </ul>
</nav>
<main>
    <h1>Container - {{ .ContainerName }}</h1>
    <div>
        <button id="btnStartStop" onclick="toggleStartStopContainer()">Start/Stop Container</button>
        <button onclick="deleteContainer()">Delete Container</button>
    </div>
    <table>
        <tr>
            <td>Image</td>
            <td>{{ .Image }}</td>
            <td class="tight"><Button onclick="editField(this)">Edit</Button></td>
        </tr>
        <tr>
            <td>Environment Variables</td>
            <td>{{ .Environment }}</td>
            <td class="tight"><Button onclick="editField(this)">Edit</Button></td>
        </tr>
        <tr>
            <td>Ports</td>
            <td>{{ .Ports }}</td> <!-- TODO: Fix hardcoding -->
            <td class="tight"><Button onclick="editField(this)">Edit</Button></td>
        </tr>
    </table>
    <h2>Logs</h2>
    <table>
        <tr>
            <th>Time</th>
            <th>Message</th>
        </tr>
        {{ range .Logs }} <!-- TODO: Fix hardcoding -->
        <tr>
            <td>{{ .Time }}</td>
            <td>{{ .Message }}</td>
        </tr>
        {{ end }}
    </table>
</main>
<script>
    window.onload = function() {
        checkContainerState();
    };
</script>
</body>
</html>